@use 'index' as *;


.main {
    position: relative;
    width: 100%;

    &__img {
        width: 100%;
        max-height: 380px;
        overflow: hidden;
        
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }
}

.menu {
    background-color: $bg-color;
    width: 100%;
    max-width: 1055px;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin: -55px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 17px 0 17px;
        &-title {
            font-family: $font-title;
            font-weight: 400;
            font-size: 1.75rem;
        }
        .card__like-icon {
            padding-right: 43px;
        }
    }

    .dish {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title {
            font-family: $font-body;
            font-weight: 300;
            font-size: 1.375rem;
            font-variant-caps: all-small-caps;
            padding-bottom: 5px;
        }
        &__bar {
            width: 40px;
            border-top: 3px solid $tertiary-color;
        }

        &__content {
            box-sizing: border-box;
            width: 349px;
            height: 69px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
            overflow: hidden;
            cursor: pointer;

        // animation
            &:hover {
                .dish__tag {
                    &-check {
                        width: 59px;
                    }
                }
            }
        }

        &__txt {
            display: flex;
            flex: 1;
            min-width: 0;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            padding: 15px 0 15px 15px;

            &-subtitle {
                font-weight: 500;
                font-size: 1.125rem;
                @include ellipsis;
            }
            &-description {
                font-weight: 300;
                font-size: 0.940rem;
                @include ellipsis;
            }
        }
        &__tag {
            display: flex;
            flex-direction: row;
            height: 100%;

            &-price {
                font-weight: 700;
                font-size: 0.940rem;
                padding: 15px;
                padding-left: 5px;
                align-self: flex-end;
            }
            &-check {
                color: white;
                background-color: $tertiary-color;
                font-size: 1.25rem;
                height: 100%;
                border-radius: 0 15px 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
            // état initial animation
                width: 0;
                transition: width 0.3s ease-in-out;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .btn {
            padding: 16px 59px;
        }
    }
}




