/* -------- SCSS de la page d'accueil -------- */

@use '../variables' as var;
@use '../utilities' as utils;

body {
    background-color: var.$bg-color;
}

/* -------- Header -------- */
.main-nav {
    display: flex;
    justify-content: center;
    padding: 12px 0 7px 0;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    &__arrow {
        color: #353535;
        position: absolute;
        top: 50%;
        left: 24px;
        &--hidden {
            display: none;
        }
    }
    &__logo {
        &--text {
            font-family: var.$font-title;
            font-weight: 400;
            font-size: 1.875rem;
        }
        &--img {
            display: none;
        }
    }
}

/* -------- Nav : City search bar -------- */
.city-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #353535;
    background-color: #EAEAEA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;

    input {
        font-family: var.$font-body;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        background-color: inherit;
        border: none;
        &:focus {
            //border: none;
            outline: 1px solid #353535;
            outline-offset: 1px;
        }
    }
}

/* -------- CTA -------- */
.main-cta {
    background-color: var.$bg-color;
    text-align: center;
    padding: 39px 20px 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-weight: 700;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 1.125rem;
        margin-top: 10px;
    }
    &__btn {
        margin-top: 29px;
    }
}

/* -------- Guide -------- */
.main-guide {
    background-color: white;
    padding: 48px 20px 44px 20px;
    &__title {
        margin-bottom: 26px;
    }
    &__list {
        display: flex;
        flex-direction: column;

        .guide-step {
            margin-bottom: 25px;
            position: relative;
            
            &__number {
                color: white;
                background-color: var.$primary-color;
                position: absolute;
                top: 24px;
                width: 24px;
                height: 24px;
                padding-top: 4px;
                border-radius: 12px;
                text-align: center;
                font-size: 0.875em;
                font-weight: 500;
            }
            &__card {
                display: flex;
                align-items: center;
                gap: 24px;
                height: 72px;
                margin-left: 12px;
                padding: 34px;
                background-color: var.$bg-color;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

                h3 {
                    font-size: 1rem;
                    font-weight: 500;
                }
                i {
                    color: #7E7E7E; 
                    width: 20px;
                    text-align: center;
                    &.purple {
                        color: var.$primary-color;
                    }
                }
            }
        }
    }
}

/* -------- Restaurant list -------- */
.main-restaurants {
    background-color: var.$bg-color;
    margin-top: 34px;
    margin-bottom: 46px;
    padding: 20px;
    &__title {
        margin-bottom: 18px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

/* -------- Footer -------- */
.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px 22px 25px;
    &__logo {
        font-family: var.$font-title;
        font-weight: 400;
        font-size: 1.125rem;
    }
    &-links {
        display: flex;
        flex-direction: column;
        gap: 7px;
        i {
            width: 16px;
            text-align: center;
        }
        .important-link {
            font-weight: 500;
        }
    }
}


/* -------- Responsive TABLETTE -------- */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    
    .main-cta {
        padding: 35px 20px 40px;
        &__title {
            font-size: 2rem;
        }
    }

    /* -------- Guide -------- */
    .main-guide {
        padding: 50px 2vw;
        &__title {
            margin-bottom: 26px;
            text-align: center;
        }
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 24px;;
            .guide-step {
                margin: 0;
            }
        }
    }

    /* -------- Restaurant list -------- */
    .main-restaurants {
        justify-self: center;
        margin: 0;
        padding: 30px 5vw;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 50px;
            justify-content: center;
        }
        &__card {
            width: calc((100% - 50px) / 2);
        }
    }

    /* -------- Footer -------- */
    .footer {
        flex-direction: row;
        max-height: 114px;
        padding: 30px 25px;
        gap: 50px;
        &-links {
            flex-wrap: wrap;
            gap: 7px 30px;
            &__link {
                display: flex;
                min-width: 130px;
                &--with-icon {
                    min-width: 190px;
                }
            }
        }
    }
}


/* -------- Responsive DESKTOP -------- */
@media screen and (min-width: 1024px) {

    /* -------- Header -------- */
    .main-nav {
        padding: 31px 0;
        &__logo {
            &--text {
                display: none;
            }
            &--img {
                display: block;
            }
        }
    }

    /* -------- Nav : City search bar -------- */
    .city-nav {
        margin-bottom: 0;
    }

    /* -------- CTA -------- */
    .main-cta {
        padding: 30px 20px;
        &__title {
            font-size: 2.5rem;
        }
        &__subtitle {
            margin-top: 18px;
        }
        &__btn {
            margin-top: 18px;
        }
    }

    /* -------- Guide -------- */
    .main-guide {
        padding: 50px 12.5vw;
        &__title {
            margin-bottom: 26px;
        }
        &__list {
            flex-direction: row;
            gap: 24px;;
            .guide-step {
                margin: 0;
                width: 100%;
                &__card {
                    padding-right: 20px;
                }
            }
        }
    }

    /* -------- Restaurant list -------- */
    .main-restaurants {
        justify-self: center;
        margin: 0;
        padding: 30px 12.5vw;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 100px;
            justify-content: center;
        }
        &__card {
            width: calc((100% - 100px) / 2);
        }
    }

    /* -------- Footer -------- */
    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        min-height: 114px;
        padding: 30px 25px;
        &__logo {
            padding-right: 42px;
        }
        &-links {
            flex-direction: row;
            &__link {
                display: flex;
                min-width: 130px;
                &--with-icon {
                    min-width: 190px;
                }
            }
        }
    }
}


/*
========== Loader page d'accueil ==========
 */

.loader {
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // fond semi-transparent
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        // pour stopper l'animation globale
        animation: fade-out-global 1s ease-in-out 3s forwards;
    }
    &-plate {
        position: fixed;
        width: 170px; //170px;
        height: 120px; //120px;
        z-index: 6;
        background: #ffffff;
        border: 6px solid #ccc;
        border-radius: 50%;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        .loader-food {
            position: fixed;
            width: 170px; //170px;
            height: 120px; //120px;
            z-index: 5;
            animation: shake 0.4s ease-in-out 0.8s 2;
            transform-origin: 50% 50%;
            animation: rotateDish 2.5s linear forwards;
        }
    }
    &-icon {
        position: absolute;
        font-size: 2rem;
        animation: iconIn 0.8s ease-in-out forwards;
    }

}

// variables de timing de l'animation
$tr-ing-dur: 2000ms;
$tr-ing-del: 900ms;
$rot-ing-a: 720deg;
$rot-ing-dur: 1500ms;
$rot-ing-del: 200ms;

@keyframes spin-ing { to { transform: rotate($rot-ing-a); } } // all ingredients spin
@keyframes spin-shrimp { to { transform: rotate($rot-ing-a + 36deg); } }
@keyframes spin-fish { to { transform: rotate($rot-ing-a - 36deg); } }
@keyframes fadeout { 50% { opacity: 1; } to { opacity: 0; } } // some ingredients fadeout

.food {
    &-carrot {
        @include utils.food-icon(-57px, 53px, 110, #ff8c42);
        @keyframes move-carrot  { to { transform: translateX(10px) translateY(85px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards;
        i{ animation: move-carrot $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-lemon {
        @include utils.food-icon(-48px, 112px, 60, #f3d250);
        @keyframes move-lemon  { to { transform: translateX(-55px) translateY(76px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-lemon $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-shrimp {
        @include utils.food-icon(-7px, 158px, 100, var.$secondary-color);
        @keyframes move-shrimp  { to { transform: translateX(-37px) translateY(62px); } }
        animation: spin-shrimp $rot-ing-dur ease-in-out $rot-ing-del forwards;
        transform-origin: center center;
        i{ animation: move-shrimp $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-pepper {
        @include utils.food-icon(63px, 162px, 50, #cc2c04);
        @keyframes move-pepper  { to { transform: translateX(-109px) translateY(-35px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-pepper $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-leaf-1 {
        @include utils.food-icon(104px, 108px, 80, var.$tertiary-color);
        @keyframes move-leaf-1  { to { transform: translateX(-35px) translateY(-48px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards;
        i{ animation: move-leaf-1 $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-egg {
        @include utils.food-icon(113px, 61px, 40, #e2d9b2);
        @keyframes move-egg  { to { transform: translateX(0px) translateY(-85px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-egg $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-leaf-2 {
        @include utils.food-icon(104px, -22px, 70, var.$tertiary-color);
        @keyframes move-leaf-2  { to { transform: translateX(56px) translateY(-48px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards;
        i{ animation: move-leaf-2 $tr-ing-dur ease-in-out $tr-ing-del forwards;
            transform: scaleX(-1); }
    }
    &-seeding {
        @include utils.food-icon(63px, -76px, 30, #dbd6a6);
        @keyframes move-seeding  { to { transform: translateX(129px) translateY(-35px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-seeding $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-fish {
        @include utils.food-icon(-7px, -76px, 90, var.$blue-color);
        @keyframes move-fish  { to { transform: translateX(47px) translateY(72px); } }
        animation: spin-fish $rot-ing-dur ease-in-out $rot-ing-del forwards;
        i{ animation: move-fish $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-bacon {
        @include utils.food-icon(-48px, -26px, 20, #a73b5f);
        @keyframes move-bacon  { to { transform: translateX(75px) translateY(76px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-bacon $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
    &-cookie {
        @include utils.food-icon(28px, 53px, 10, #79511d);
        @keyframes move-cookie  { to { transform: translateX(0px) translateY(0px); } }
        animation: spin-ing $rot-ing-dur ease-in-out $rot-ing-del forwards,
            fadeout $tr-ing-dur ease-in-out $tr-ing-del forwards;
        i{ animation: move-cookie $tr-ing-dur ease-in-out $tr-ing-del forwards; }
    }
}

// Fumée
.smoke {
    position: absolute;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    filter: blur(2px);
    &-1 {
        top: -40px;
        left: 25%;
        animation: smokeRise 0.9s ease-in-out 0.4s infinite;
    }
    &-2 {
        top: -30px;
        left: 50%;
        animation: smokeRise 0.6s ease-in-out infinite;
    }
    &-3 {
        top: -40px;
        left: 75%;
        animation: smokeRise 1.1s ease-in-out 0.3s infinite;
    }
}

@keyframes rotateDish {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes iconIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes smokeRise {
    0% {
        opacity: 0.7;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px) scale(1.5);
    }
}

@keyframes fade-out-global {
    to {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1.5deg); }
    50% { transform: rotate(-1.5deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}