/* -------- SCSS de la page d'accueil -------- */

@use '../variables' as var;
@use '../utilities' as utils;

body {
    background-color: var.$bg-color;
}

/* -------- Header -------- */
.main-nav {
    display: flex;
    justify-content: center;
    padding: 12px 0 7px 0;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    &__arrow {
        color: #353535;
        position: absolute;
        top: 50%;
        left: 24px;
        &--hidden {
            display: none;
        }
    }
    &__logo {
        &--text {
            font-family: var.$font-title;
            font-weight: 400;
            font-size: 1.875rem;
        }
        &--img {
            display: none;
        }
    }
}

/* -------- Nav : City search bar -------- */
.city-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #353535;
    background-color: #EAEAEA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;

    input {
        font-family: var.$font-body;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        background-color: inherit;
        border: none;
        &:focus {
            //border: none;
            outline: 1px solid #353535;
            outline-offset: 1px;
        }
    }
}

/* -------- CTA -------- */
.main-cta {
    background-color: var.$bg-color;
    text-align: center;
    padding: 39px 20px 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-weight: 700;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 1.125rem;
        margin-top: 10px;
    }
    &__btn {
        margin-top: 29px;
    }
}

/* -------- Guide -------- */
.main-guide {
    background-color: white;
    padding: 48px 20px 44px 20px;
    &__title {
        margin-bottom: 26px;
    }
    &__list {
        display: flex;
        flex-direction: column;

        .guide-step {
            margin-bottom: 25px;
            position: relative;
            
            &__number {
                color: white;
                background-color: var.$primary-color;
                position: absolute;
                top: 24px;
                width: 24px;
                height: 24px;
                padding-top: 4px;
                border-radius: 12px;
                text-align: center;
                font-size: 0.875em;
                font-weight: 500;
            }
            &__card {
                display: flex;
                align-items: center;
                gap: 24px;
                height: 72px;
                margin-left: 12px;
                padding: 34px;
                background-color: var.$bg-color;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

                h3 {
                    font-size: 1rem;
                    font-weight: 500;
                }
                i {
                    color: #7E7E7E; 
                    width: 20px;
                    text-align: center;
                    &.purple {
                        color: var.$primary-color;
                    }
                }
            }
        }
    }
}

/* -------- Restaurant list -------- */
.main-restaurants {
    background-color: var.$bg-color;
    margin-top: 34px;
    margin-bottom: 46px;
    padding: 20px;
    &__title {
        margin-bottom: 18px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

/* -------- Footer -------- */
.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px 22px 25px;
    &__logo {
        font-family: var.$font-title;
        font-weight: 400;
        font-size: 1.125rem;
    }
    &-links {
        display: flex;
        flex-direction: column;
        gap: 7px;
        i {
            width: 16px;
            text-align: center;
        }
        .important-link {
            font-weight: 500;
        }
    }
}


/* -------- Responsive TABLETTE -------- */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    
    .main-cta {
        padding: 35px 20px 40px;
        &__title {
            font-size: 2rem;
        }
    }

    /* -------- Guide -------- */
    .main-guide {
        padding: 50px 2vw;
        &__title {
            margin-bottom: 26px;
            text-align: center;
        }
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 24px;;
            .guide-step {
                margin: 0;
            }
        }
    }

    /* -------- Restaurant list -------- */
    .main-restaurants {
        justify-self: center;
        margin: 0;
        padding: 30px 5vw;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 50px;
            justify-content: center;
        }
        &__card {
            width: calc((100% - 50px) / 2);
        }
    }

    /* -------- Footer -------- */
    .footer {
        flex-direction: row;
        max-height: 114px;
        padding: 30px 25px;
        gap: 50px;
        &-links {
            flex-wrap: wrap;
            gap: 7px 30px;
            &__link {
                display: flex;
                min-width: 130px;
                &--with-icon {
                    min-width: 190px;
                }
            }
        }
    }
}


/* -------- Responsive DESKTOP -------- */
@media screen and (min-width: 1024px) {

    /* -------- Header -------- */
    .main-nav {
        padding: 31px 0;
        &__logo {
            &--text {
                display: none;
            }
            &--img {
                display: block;
            }
        }
    }

    /* -------- Nav : City search bar -------- */
    .city-nav {
        margin-bottom: 0;
    }

    /* -------- CTA -------- */
    .main-cta {
        padding: 30px 20px;
        &__title {
            font-size: 2.5rem;
        }
        &__subtitle {
            margin-top: 18px;
        }
        &__btn {
            margin-top: 18px;
        }
    }

    /* -------- Guide -------- */
    .main-guide {
        padding: 50px 12.5vw;
        &__title {
            margin-bottom: 26px;
        }
        &__list {
            flex-direction: row;
            gap: 24px;;
            .guide-step {
                margin: 0;
                width: 100%;
                &__card {
                    padding-right: 20px;
                }
            }
        }
    }

    /* -------- Restaurant list -------- */
    .main-restaurants {
        justify-self: center;
        margin: 0;
        padding: 30px 12.5vw;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 100px;
            justify-content: center;
        }
        &__card {
            width: calc((100% - 100px) / 2);
        }
    }

    /* -------- Footer -------- */
    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        min-height: 114px;
        padding: 30px 25px;
        &__logo {
            padding-right: 42px;
        }
        &-links {
            flex-direction: row;
            &__link {
                display: flex;
                min-width: 130px;
                &--with-icon {
                    min-width: 190px;
                }
            }
        }
    }
}