@use '../variables' as var;

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin food-icon($top, $left, $z, $color) {
    top: $top;
    left: $left;
    z-index: $z;
    color: $color;
}